* {
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  margin:0px;
}

.navbar{
  background-color: #61988E !important;
  padding: 0px;
}

.navbar, .navbar-collapse, .container {
  border-radius:0px;
  border:0px;
  width:100%;
}

#navbar-header {
  float:left;
  vertical-align: center;
  top:5px;
  left:0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-nav {
  position:relative;
  border-radius:0px;
  border:0px;
  background-color: lightblue;
  padding-left:0px;
  padding-right:0px;
  width:100%;
}

body{
  background-color: gray;
}

li{
 font-size: 1.5em
 background-color: gray;
 text-align: center;
 color:black;
}

b{
  color: #2E3532;
  border:1px solid black;
  position:absolute;
  right: 15px;
  top:0px;
  width: 110px;
  height:40px;
  font-size: 1.25em;
}

p {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 40px;
  color: #2E3532;
  background-color: #61988E;
  font-size: 1em
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
header{
  height:60px;
  font-size:2.2em;
}

.row1{
  position:relative;
  margin:2px 0px 20px 0px;
}

#chicken {
  background-color:#94849B;
}

div > #mar1{
  height:1000px;
  margin-top: 0px;
}

#beef {
  background-color: #E08D79;
  margin-top:20px
}

#sushi {
  background-color: #A882DD;
  margin-top: 20px
}

#mar3, #mar2 {
  height:500px;
  float:left;
  margin-top:10px;
  margin-bottom:20px;
}

